@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter;
}

.hidden {
  display: none !important;
}

.container {
  width: 100%;
  background-color: white
}

.notes {
  display: flex;
}

.sidebar {
  width: 23%;
  background-color: gray;
}

.content {
  width: 77%;
  min-height: 100vh;
  padding: 20px;
}

.nav-link {
  list-style: none;
  color: black;
}

#home-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.home-page-heading {
  font-size: 50px;
}

.home-page-title {
  font-size: 20px;
  width: 70%;
  text-align: center;
}

.home-page-img {
  border-radius: 17px;
  width: 900px;
  height: 500px;
}

.nav-link li {
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  font-size: 23px;
  cursor: pointer;
  padding: 10px 20px;
  padding-bottom: 30px;
}


.add-notes-section {
  height: 100%;
}

.add-notes {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.add-notes-title {
  text-align: center;
  font-size: 50px;
  padding-bottom: 30px;
}

.input-box {
  font-size: 20px;
  padding: 20px;
  border-radius: 14px;
}

#add-note-btn {
  background-color: aqua;
  width: 120px;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px 0;
  border: none;
  margin-top: 10px;
}

.note {
  font-size: 25px;
  border: 1px solid rgb(203, 199, 199);
  margin-bottom: 20px;
  padding: 15px 20px;
  overflow-y: auto;
  border-radius: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note img {
  cursor: pointer;
}

.des {
  padding: 13px 0;
}

#notes-container {
  margin-top: 50px;
}


.note-img {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}





@media (max-width:1200px) {
  .home-page-img{
    width: 650px;
    height: 400px;
  }

  .input-box{
    width: 100%;
  }
}





@media (max-width:900px) {
  .notes {
    flex-direction: column;
  }

  .content {
    width: 100%;
    padding: 8px;
  }

  .sidebar {
    width: 100%;
  }

  .nav-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-link li {
    border: none;
    padding-top: 20px;
    padding-bottom: 0;
    font-size: 15px;
  }

  .home-page-img{
    width: 100%;
    object-fit: cover;
  }

  .home-page-title{
    width: 100%;
  }

  .home-page-heading{
    font-size: 40px;
    text-align: center;
  }
   #home-page{
    gap: 20px;
   }

   .input-box{
    width: 100%;
    height: 200px;
   }
   .add-notes-title{
    font-size: 30px;
   }
   .note{
    flex-direction: column;align-items: start;gap: 20px;
    padding: 10px;
   }
}